// Place all the styles related to the Airplane controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

div.row {
  width: 100%;
  float: left;
  .width-6 {
    width: 50%;
    &:first-child {
      height: 80vh;
      float: left;
    }
    &:last-child {
      float: right;
      height: 80vh;
    }
  }
  .plane {
    margin: 0 auto;
    height: 80vh;
    min-width: 20em;
    max-width: 50em;
    width: auto;
    background-color: #999999;
    border: 1px solid rgb(44, 30, 30);
    border-radius: 50% 50% 10% 10%;
    table {
      margin: 40vh auto;
      tbody {
        tr {
          height: 30px;
          td {
            padding: 0 1em;
            span.cell {
              display: inline-block;
              padding-top: 5px;
              border: 1px solid black;
              width: 30px;
              height: 25px;
              text-align: center;
              &.blue {
                background-color: #4F81BD;
              }
            }
          }
        }
      }
    }
    .error {
      text-align: center;
      margin-top: 40vh;
      color: red;
    }
  }
  .form-box {
    margin: 0 auto;
    width: 50%;
    min-height: 40vh;
    height: auto;
    label {
      color: rgb(75, 75, 75);
      margin-bottom: 0.5em;
      display: block;
    }
    input[type="text"] {
      height: 30px;
      margin-bottom: 1em;
    }
    input[type="submit"] {
      display: block;
    }
    .error {
      color: rgb(231, 22, 22);
    }
  }
}